.blockLogin {
    border-radius: 10px;
    background-color: #fff;
    width: 350px;
    min-height: 470px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    width: 300px;
    min-height: 50vh;
    margin: auto;
    padding: 50px 0 0;
}

h1 {
    text-align: center;
}

.inputLogin {
    width: 300px;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid black;
    outline-color: blue;
}

.checkboxLogin {
    margin-top: 10px;
}

.buttonLogin {
    justify-content: center;
    width: 250px;
    margin: 40px auto 0;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(90deg, #24f5e3 0%, #4cbdb0 100%);
    color: white;
    cursor: pointer;
}

.buttonLogin:hover {
    background: #4cbdb0;
    color: white;
}

.active {
    justify-content: center;
    width: 250px;
    margin: 40px auto 0;
    padding: 10px;
    border-radius: 20px;
    border: none;
    color: white;
    cursor: pointer;
    background: #4cbdb0;
}

.forgot, .signUp {
    color: black;
    text-decoration: none;
    margin-top: 30px;
}

.forgot {
    text-align: end;
}

.signUp {
    text-align: center;
    margin-bottom: 10px;
}

.forgot:hover, .signUp:hover {
    text-decoration: underline;
    color: #26c6da;
}

